@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header-left, .header-right {
        width: 100%;
    }

    .main1, .main2, .main3, .main4, .main5 {
        padding: 20px 15px;
    }

    .pl-15 {
        padding-left: 0px !important;
    }
    .header-left {
        width: 100% !important;
        height: 175px;
        background-size: cover;
        background-position: center;
    }

    .header-right {
        width: 100% !important;
    }

    .cv-name {
         margin: 20px auto 0 auto;
     }

    .cv-language {
        top: -200px;
    }

    .prof-content {
        top: -130px;
    }

    .project, .pro-botton, .person-button,
    .work-add-botton, .edu-add-botton {
        display: none!important;
    }

    .pro-botton2, .person-button2,
    .work-add-botton2, .resize-project,
    .edu-add-botton2{
        display: flex!important;
    }
}

@media only screen and (min-width: 545px) and (max-width: 768px) {
    .main1, .main2, .main3, .main4, .main5 {
        padding: 20px 15px;
    }

    .pl-15 {
        padding-left: 0px !important;
    }

    .header-left {
        width: 100% !important;
        height: 175px;
        background-size: cover;
        background-position: center;
    }

    .header-right{
        width: 100% !important;
    }

    .cv-name {
        margin: 20px auto 0 auto;
    }
    .cv-language {
        top: -200px;
    }

    .prof-content {
        top: -130px;
    }

    .col-lg
    .justify-content-end {
        justify-content: center;
    }

    .project, .pro-botton, .person-button,
    .work-add-botton, .edu-add-botton {
        display: none!important;
    }

    .slide {
        display: flex;
        flex-direction: column;
    }

    .pro-botton2, .person-button2,
    .work-add-botton2, .resize-project,
    .edu-add-botton2{
        display: flex!important;
    }
}


@media only screen and (max-width: 545px) {
    .main1, .main2, .main3, .main4, .main5 {
        padding: 20px 15px;
    }

    .pl-15 {
        padding-left: 0px !important;
    }

    .header-left {
        width: 100% !important;
        background-size: cover;
        background-position: center;
        height: 175px;

    }

    .header-right{
        width: 100% !important;
    }

    .cv-name {
        margin: 20px auto 0 auto;
    }
    .cv-language {
        top: -200px;
    }

    .prof-content {
        top: -130px;
    }

    .project, .pro-botton, .person-button,
    .work-add-botton, .edu-add-botton {
        display: none!important;
    }

    .pro-botton2, .person-button2,
    .work-add-botton2, .resize-project,
    .edu-add-botton2{
        display: flex!important;
    }
}
